.footer-container {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically (if needed) */
  padding: 10px; /* Add some padding for visual spacing */
}

.footer-link {
  color: rgb(20, 16, 66);
  text-decoration: none;
  margin: 0 10px;
}

.footer-link:hover {
  color: #f1f1f1;
}

.footer {
  background-color: rgb(33, 36, 58);
  border: 1px solid #ccc;
  border-radius: 5%;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensure the links are centered */
}

.separator {
  margin: 0 8px; /* Adjusts space around the separator */
  font-size: 24px; /* Adjust as needed */
}

.footer-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px; /* Adds some space to the right of the icon, adjust as needed */
}

.footer-info {
  text-align: center;
  margin-top: 10px; /* Add some space between the links and the info */
}
