.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: flex-start;
  background-color: rgb(46, 54, 54);
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5%;
}
  
.project-description {
  width: 45%;
  text-align: left;
}
  
.project-images {
  display: flex;
  align-items: right;
  gap: 10px;
}

.project-images img {
  max-width: 500px;
  height: auto;
}

.chevron {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  border: 1px solid white;
}

.chevron:hover {
  transform: scale(1.1);
}
