.terminal-window {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust based on your preference */
  max-width: 600px;
  height: auto;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.close-button {
    position: absolute;
    top: 1px;
    right: 1px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0 0.5em;
    z-index: 1001;
    transition: transform 0.3s ease;
  }
  
.close-button:hover {
  transform: scale(1.2);
}

.open-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: background-color 0.3s ease;
}

.open-button img {
  width: 100px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
  
.open-button:hover {
  background-color: #666;
}
