.terminal-window {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1000;
    background-color: black;
    border-radius: 10px;
    overflow: auto; /* Change this to auto */
    visibility: visible; /* Add this line */
  }

.close-button {
    position: absolute;
    top: 1px;
    right: 1px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0 0.5em;
    z-index: 1001;
    transition: transform 0.3s ease;
  }
  
  .close-button:hover {
    transform: scale(1.2);
  }

  .open-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .open-button:hover {
    background-color: #666;
  }