body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
}

header #name {
  font-size: 2.5em;
  margin: 0;
}

header #roles {
  font-size: 1.2em;
  margin-top: 0.5em;
}

header #contact {
  margin-top: 1em;
  font-size: 1em;
}

header #contact div {
  margin: 0.25em 0;
}

header #contact a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

header #contact a:hover {
  color: #d4d4d4;
}

header #contact div:first-child {
  font-size: 1.1em;
  font-weight: bold;
}

header #contact div:last-child {
  font-size: 1em;
}

section {
  margin: 1em auto;
  padding: 1em;
  max-width: 800px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 0.25em;
}

.content p {
  margin: 0.5em 0;
  line-height: 1.6;
}

.job, .school, .project, .contact-method, .activity {
  margin: 1em 0;
}

.job-title-container, .project-title, .contact-type, .activity-title-container {
  font-size: 1.2em;
  font-weight: bold;
}

.job-title-container .role {
  font-size: medium;
}

.description, .project-description, .contact-info {
  margin: 0.5em 0;
  line-height: 1.6;
}

.life-skills, .contact-method {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 0.5em;
  margin: 0.25em;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  background-color: #e8f5e9;
  color: #4CAF50;
}

.school .name, .school .degree, .activity-name {
  font-size: 1.2em;
  font-weight: bold;
}

.awards {
  display: none;
}

.awards img {
  max-width: 800px;
}

.ribbon img {
  width: 200px;
}

.awards .name {
  font-size: 1.2em;
  font-weight: bold;
}

.subsection-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em;
}

.letter, .ribbon {
  margin: 0.5em;
}

.collapsible, .hide-awards {
  margin: 1em;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible.active, .collapsible:hover {
  background-color: #555;
}

.awards .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-top: 10px;
}
